<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SelectMapper">

    <select id="queryAllBase" parameterType="String" resultType="com.example.demo.dto.response.BaseItem">
        select * from study_base where name like concat('%',#{name},'%');
    </select>

    <select id="queryAllCourse" parameterType="String" resultType="com.example.demo.dto.response.CourseItem">
        select * from courses where title like concat('%',#{name},'%');
    </select>
</mapper>
